<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Travel Weather</title>
  <link href="//www.google.com/images/branding/product/ico/maps15_bnuw3a_32dp.ico" rel="shortcut icon"> 
</head>

<body>
  <div class="grid_container">
    <header>
      🌏 Vacation Weather Predictor
    </header>
    <section class="query">
      <form class="input_container" onsubmit="return Capstone.handleSubmit(event)">
        <div class="input_wrapper">
          <p>Type in the city name you wanna travel</p>
          <input type="text" id="place" required placeholder="Eg: London" />
        </div>
        <div class="input_wrapper">
          <p>Choose the date</p>
          <input type="date" id="date" required />
        </div>
        <br />
        <button type="submit" id="submit" class="primary_cta">Submit</button>
      </form>
    </section>
    <section class="result">
      <div class="quote">
        <h3>Results</h3>
      </div>
      <button type="button" onclick="return Capstone.getTripsfromSever(event);">Show my saved trips</button>
      <div id="trips">
        <!-- The results will be displayed here -->
      </div>
    </section>
    <footer>
      Crafted with ❤️ by Rahul
    </footer>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>

</html>