$bodyText: 18px;
$primary: #94b3d6;
$background: #f8f8f8;
$text-primary: #000000;
$text-secondary: #3e3e3e;
$surface: #e5e5e5;

input {
  background-color: $surface;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-family: "Lexend Deca", sans-serif;
  width: 20rem;
  margin-bottom: 1rem;

  &:hover {
    outline: none;
  }
}

a {
  border-bottom: 1px solid $primary;
  color: $primary;
  padding-bottom: 0.25em;
  text-decoration: none;

  &:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2396d694' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: 0.3em;
    text-decoration: none;
  }
}

button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  border: none;
  width: 10rem;
  height: 2rem;
  font-family: "Lexend Deca", sans-serif;
  margin-right: 1rem;
  margin-bottom: 1rem;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.primary_cta {
  color: $background;
  background: $primary;
}

.secondary_cta {
  color: $primary;
  background: none;
  border: 2px solid $primary;
}

.quote {
  border-left: 0.4rem solid $surface;
  padding-left: 1rem;
}

.results {
  background: $surface;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.result_label {
  color: $text-primary !important;
  font-size: 1rem;
}

.result_info {
  font-size: 0.8rem;
  color: $text-secondary;
}

p {
  color: $text-secondary;
}
